In [1]:
import pandas as pd

In [2]:
def sqrt(x):
	return x ** (1/2)

def add(x, y): # also works with "vectors"
	return x+y

def nv_add(x, y):
	if x+y % 30 == 0: # "does not work with vectors"
		print("yeah")
	return x+y

In [3]:
df = pd.read_csv("./data/pokemon_data.csv")

In [4]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [6]:
df.shape

(800, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [8]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [9]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [11]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### Selecting

### Extract Columns: [ ] returns "series", and can only return one column.

In [12]:
df["Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [13]:
type(df["Name"])

pandas.core.series.Series

### Extract Columns: [[ ]] returns dataframe.

In [14]:
df[["Name"]]

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [15]:
type(df[["Name"]])

pandas.core.frame.DataFrame

### Returning multiple columns with [[ ]], as a data frame.

In [16]:
df[["Name", "Type 1", "HP"]]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

### [ ] and [[ ]] only extracts whole columns. iloc is used to extract rows and / or columns. Using a single argument with iloc returns specified rows:

In [17]:
df.iloc[0]  # Number input, [], returns "series"

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [18]:
df.iloc[[0]]  # List input, [[]], returns data frame.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [19]:
df.iloc[[0, 1]]  # df.iloc[[0, 1], ]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False

In [20]:
df.iloc[1:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

### Using 2 arguments with iloc

In [21]:
df.iloc[0, 1] # Number input, [], returns value.

'Bulbasaur'

In [22]:
df.iloc[[100], [3]] # List input, [[]], returns data frame.

     Type 2
100  Poison

In [23]:
df.iloc[[100, 200], [3, 5]]

     Type 2  Attack
100  Poison      50
200     NaN     100

### df.loc[some way to select rows, column names to select]

In [24]:
df.loc[[100, 200], "Type 2"]

100    Poison
200       NaN
Name: Type 2, dtype: object

In [25]:
df.loc[[100, 200], ["Type 2", "Attack"]]

     Type 2  Attack
100  Poison      50
200     NaN     100

way to select rows can be indices like above, or:

### Where: loc[boolean list with same length as number of rows of data frame]. Return the row i in a dataframe if bool_list[i] == True. Row filtering.

In [24]:
bool_list = [i%2 == 0 for i in range(len(df.index))]
df.loc[bool_list]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

In [25]:
df.loc[[i % 2 == 0 for i in range(800)]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True

### df["Type 1"] returns a "series" of strings, which can be checked for the condition == "Fire" elementwise, which will return a list of bools. In the end, df.loc[bool_list]

In [26]:
df.loc[df["Type 1"] == "Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [27]:
df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [28]:
df.loc[((df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")) & (df["HP"] > 70)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False
204,189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,False
207,192,Sunflora,Grass,NaN,75,75,55,105,85,30,2,False
298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
433,388,Grotle,Grass,NaN,75,89,85,55,65,36,4,False
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
505,455,Carnivine,Grass,NaN,74,100,72,90,72,46,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
556,497,Serperior,Grass,NaN,75,75,95,75,95,113,5,False
571,512,Simisage,Grass,NaN,75,98,63,98,63,101,5,False
617,556,Maractus,Grass,NaN,75,86,67,106,67,60,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
659,598,Ferrothorn,Grass,Steel,74,94,131,54,116,20,5,False
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [29]:
df.loc[((df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")) & (df["HP"] > 70)].reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False
5,111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
6,168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
7,197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False
8,204,189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,False
9,207,192,Sunflora,Grass,NaN,75,75,55,105,85,30,2,False
10,298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
11,390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
12,433,388,Grotle,Grass,NaN,75,89,85,55,65,36,4,False
13,434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
14,505,455,Carnivine,Grass,NaN,74,100,72,90,72,46,4,False
15,510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
16,511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
17,516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
18,550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
19,551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
20,556,497,Serperior,Grass,NaN,75,75,95,75,95,113,5,False
21,571,512,Simisage,Grass,NaN,75,98,63,98,63,101,5,False
22,617,556,Maractus,Grass,NaN,75,86,67,106,67,60,5,False
23,652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
24,659,598,Ferrothorn,Grass,Steel,74,94,131,54,116,20,5,False
25,701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
26,720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
27,741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [30]:
df.loc[((df["Type 1"] == "Grass") | (df["Type 2"] == "Poison")) & (df["HP"] > 70)].reset_index(drop=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False
5,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
6,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
7,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False
8,189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,False
9,192,Sunflora,Grass,NaN,75,75,55,105,85,30,2,False
10,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
11,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
12,388,Grotle,Grass,NaN,75,89,85,55,65,36,4,False
13,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
14,455,Carnivine,Grass,NaN,74,100,72,90,72,46,4,False
15,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
16,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
17,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
18,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
19,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
20,497,Serperior,Grass,NaN,75,75,95,75,95,113,5,False
21,512,Simisage,Grass,NaN,75,98,63,98,63,101,5,False
22,556,Maractus,Grass,NaN,75,86,67,106,67,60,5,False
23,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
24,598,Ferrothorn,Grass,Steel,74,94,131,54,116,20,5,False
25,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
26,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
27,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [31]:
df.loc[~df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### Mutating - creating a new column with using the values in other columns. All of these methods below take column(s), do stuff with them, and return only them, as series. If they are not kept in original dataframe, then they are lost. But when they are kept with original dataframe, then original dataframe is now changed.

In [32]:
df.loc[df["Type 1"] == "Fire", "Type 1"] = "FIRE"
df.loc[df["Type 1"] == "FIRE"].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,FIRE,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,FIRE,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,FIRE,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,FIRE,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,FIRE,Flying,78,104,78,159,115,100,1,False

In [33]:
df.loc[df["Type 1"] == "FIRE", "Type 1"] = "Fire"

In [34]:
df.loc[df["HP"] > 50, ["Super 1", "Super 2"]] = [True, False]
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN

In [35]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
Super 1       object
Super 2       object
dtype: object

In [36]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)  
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309

In [37]:
df["Sqrt"] = sqrt(df[["Total"]])  
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total,Sqrt
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318,17.832555
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405,20.124612
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525,22.912878
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625,25.000000
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309,17.578396

In [38]:
df["deneme"] = pd.Series(map(add, df["HP"], df["Attack"])) 
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total,Sqrt,deneme
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318,17.832555,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405,20.124612,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525,22.912878,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625,25.000000,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309,17.578396,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN,600,24.494897,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN,700,26.457513,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False,600,24.494897,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False,680,26.076810,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False,600,24.494897,190

### apply is more or less an equivalent to above cell. It operates row wise, so it is slower than vectorized functions.

In [39]:
df.apply(lambda x: nv_add(x["HP"], x["Attack"]), axis=1)

0       94
1      122
2      162
3      180
4       91
      ...
795    150
796    210
797    190
798    240
799    190
Length: 800, dtype: int64

### assign takes the original dataframe, copies it, does stuff with copy, returns copied dataframe (not series, whole dataframe), original dataframe remains intact. It can be used with method chaining. new_column_name = (callable(df)) or a series. callable takes the whole dataframe as input and returns series, so it must be vectorized. When function is not vectorized by itself, it can be made one by map()

In [40]:
# df.assign(deneme = lambda x: nv_add(x["HP"], x["Attack"]))
# ValueError: The truth value of a Series is ambiguous.

In [41]:
df.assign(deneme2 = pd.Series(map(nv_add, df["HP"], df["Attack"]))) # not vectorized function, map is used to vectorize it, "= series"

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total,Sqrt,deneme,deneme2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318,17.832555,94,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405,20.124612,122,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525,22.912878,162,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625,25.000000,180,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309,17.578396,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN,600,24.494897,150,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN,700,26.457513,210,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False,600,24.494897,190,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False,680,26.076810,240,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False,600,24.494897,190,190

In [42]:
df.assign(deneme = (lambda x: add(x["HP"], x["Attack"]))) # vectorized function, "= callable"

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total,Sqrt,deneme
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318,17.832555,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405,20.124612,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525,22.912878,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625,25.000000,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309,17.578396,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN,600,24.494897,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN,700,26.457513,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False,600,24.494897,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False,680,26.076810,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False,600,24.494897,190

In [43]:
df.assign(deneme = df["HP"] + df["Attack"]).head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2,Total,Sqrt,deneme
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN,318,17.832555,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False,405,20.124612,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False,525,22.912878,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False,625,25.000000,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN,309,17.578396,91

### Dropping columns

In [44]:
df = df.drop(columns=["Total", "Sqrt", "deneme"]) 
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN

### Renaming columns

In [45]:
df.rename(columns={"Speed": "Speedd"})

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speedd,Generation,Legendary,Super 1,Super 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False

### Appending a dataframe to original dataframe

In [46]:
df = df.append(df.iloc[[len(df.index)-1]])
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False

### Removing duplicate rows. inplace=True means remove from original dataframe, don't copy, remove and return.

In [47]:
df.drop_duplicates(inplace=True)
df # the row that was just appended is gone.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,NaN,NaN
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,True,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,True,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,True,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,NaN,NaN
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,NaN,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,True,False
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,True,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,True,False

### Sorting

In [48]:
df.sort_values("Name", ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,True,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,True,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,NaN,NaN
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,NaN,NaN
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,True,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,True,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,NaN,NaN
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,True,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,True,False

In [49]:
df.sort_values(["Type 1", "HP"], ascending=[False, True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Super 1,Super 2
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,NaN,NaN
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,NaN,NaN
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False,NaN,NaN
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False,NaN,NaN
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,True,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False,True,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False,True,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False,True,False
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False,True,False

### Grouping and aggregating

In [50]:
df.groupby("Type 1").mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [51]:
df.groupby(["Type 1"]).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [52]:
df.groupby(["Type 1"]).mean().sort_values("Defense", ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [53]:
df.groupby(["Type 1"]).count()[["#"]]

            #
Type 1
Bug        69
Dark       31
Dragon     32
Electric   44
Fairy      17
Fighting   27
Fire       52
Flying      4
Ghost      32
Grass      70
Ground     32
Ice        24
Normal     98
Poison     28
Psychic    57
Rock       44
Steel      27
Water     112

In [54]:
df.groupby(["Type 1", "Type 2"]).count()[["#"]]

                  #
Type 1 Type 2
Bug    Electric   2
       Fighting   2
       Fire       2
       Flying    14
       Ghost      1
...              ..
Water  Ice        3
       Poison     3
       Psychic    5
       Rock       4
       Steel      1

[136 rows x 1 columns]

In [55]:
df.groupby(["Type 1"])["HP"].agg("mean")

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

In [56]:
df.groupby(["Type 1"])[["HP"]].agg("mean")

                 HP
Type 1
Bug       56.884058
Dark      66.806452
Dragon    83.312500
Electric  59.795455
Fairy     74.117647
Fighting  69.851852
Fire      69.903846
Flying    70.750000
Ghost     64.437500
Grass     67.271429
Ground    73.781250
Ice       72.000000
Normal    77.275510
Poison    67.250000
Psychic   70.631579
Rock      65.363636
Steel     65.222222
Water     72.062500

In [57]:
df.groupby(["Type 1"])["HP"].agg(["mean"])

               mean
Type 1
Bug       56.884058
Dark      66.806452
Dragon    83.312500
Electric  59.795455
Fairy     74.117647
Fighting  69.851852
Fire      69.903846
Flying    70.750000
Ghost     64.437500
Grass     67.271429
Ground    73.781250
Ice       72.000000
Normal    77.275510
Poison    67.250000
Psychic   70.631579
Rock      65.363636
Steel     65.222222
Water     72.062500

In [58]:
df[["HP"]].astype("str")

     HP
0    45
1    60
2    80
3    80
4    39
..   ..
795  50
796  50
797  80
798  80
799  80

[800 rows x 1 columns]

In [59]:
df[["HP"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      800 non-null    int64
dtypes: int64(1)
memory usage: 12.5 KB

In [60]:
df[["HP"]].astype("str").info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      800 non-null    object
dtypes: object(1)
memory usage: 12.5+ KB

In [61]:
df.isnull().values.any()

True

In [62]:
df.count()

#             800
Name          800
Type 1        800
Type 2        414
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
Super 1       589
Super 2       589
dtype: int64

In [63]:
df_no_null = df.dropna(inplace=False)
df_no_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 1 to 799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           320 non-null    int64
 1   Name        320 non-null    object
 2   Type 1      320 non-null    object
 3   Type 2      320 non-null    object
 4   HP          320 non-null    int64
 5   Attack      320 non-null    int64
 6   Defense     320 non-null    int64
 7   Sp. Atk     320 non-null    int64
 8   Sp. Def     320 non-null    int64
 9   Speed       320 non-null    int64
 10  Generation  320 non-null    int64
 11  Legendary   320 non-null    bool
 12  Super 1     320 non-null    object
 13  Super 2     320 non-null    object
dtypes: bool(1), int64(8), object(5)
memory usage: 35.3+ KB

In [64]:
df_no_null.count()

#             320
Name          320
Type 1        320
Type 2        320
HP            320
Attack        320
Defense       320
Sp. Atk       320
Sp. Def       320
Speed         320
Generation    320
Legendary     320
Super 1       320
Super 2       320
dtype: int64

In [65]:
type(df.values)

numpy.ndarray